.EmployeeContainer {
  width: 50%;
  padding-left: 10rem;
  & > div {
    border-bottom: 1px solid black;
    padding: 1rem 0;
    &:first-child {
      display: flex;
      justify-content: space-between;
    }
  }
}
