.EmployeeContainer {
  width: 100%;

  & > h1 {
    width: 150%;
    padding: 5rem 10rem;
    background: rgba(128, 128, 128, 0.323);
  }
  &_Header {
    width: 50%;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  & > div {
    width: 50%;
    margin-left: 10rem;
    padding: 1rem 0;
    &:first-child {
      display: flex;
      justify-content: space-between;
    }
  }
}
